In [45]:
import pandas as pd

data=pd.read_csv('https://docs.google.com/spreadsheets/d/1AV-A1uhQqvF6h0_a-fupFQIHv6W7-vNm88AYh_WzeB0/export?format=csv&gid1326833441')

1) Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [46]:
data.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [63]:
d={}
bdv_data=data[data.country_id == 'BDV']
for s in temp_data.site_id.unique():
    len(bdv_data[bdv_data.site_id == s].user_id.unique())
    d.update({s: len(bdv_data[bdv_data.site_id == s].user_id.unique())})

In [61]:
d

{'N0OTG': 90, '5NPAU': 544, '3POLC': 2}

2) Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [73]:
data.ts=pd.to_datetime(data.ts)

In [82]:
data_q2=data[(data.ts > '2019-02-03 00:00:00') & (data.ts<='2019-02-04 23:59:59')]

In [97]:
d={}
for s in data_q2.user_id.unique():
    for i in range(len(data_q2[data_q2.user_id == s].site_id.value_counts())):
        if data_q2[data_q2.user_id == s].site_id.value_counts()[i]>=10:
            d.update({s: (data_q2[data_q2.user_id == s].site_id.value_counts().index[i],
                         data_q2[data_q2.user_id == s].site_id.value_counts()[i])})

In [98]:
d

{'LC3C7E': ('3POLC', 15),
 'LC3A59': ('N0OTG', 26),
 'LC06C3': ('N0OTG', 25),
 'LC3C9D': ('N0OTG', 17)}

3) For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user “LC3561”’s last visit is to “N0OTG” based on timestamp data. Based on this measure, what are top three sites? (hint: site “3POLC” is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [103]:
data[data.user_id=='LC36FC'].sort_values(by='ts')

                      ts user_id country_id site_id
0    2019-02-01 00:01:24  LC36FC        TL6   N0OTG
8    2019-02-01 00:32:43  LC36FC        TL6   N0OTG
1063 2019-02-03 00:14:38  LC36FC        TL6   N0OTG
1117 2019-02-03 04:19:29  LC36FC        TL6   N0OTG
1126 2019-02-03 04:44:39  LC36FC        TL6   N0OTG
1166 2019-02-03 10:15:26  LC36FC        BDV   5NPAU
1306 2019-02-03 16:33:39  LC36FC        TL6   N0OTG
2064 2019-02-04 23:10:18  LC36FC        TL6   N0OTG
2067 2019-02-04 23:25:34  LC36FC        TL6   N0OTG
2546 2019-02-05 23:44:46  LC36FC        TL6   N0OTG
3055 2019-02-07 00:24:50  LC36FC        TL6   N0OTG

In [127]:
data_last_visit=[]
data_first_visit=[]
for user in data.user_id.unique():
    data_first_visit.append(data[data.user_id==user].sort_values(by='ts').iloc[0])
    data_last_visit.append(data[data.user_id==user].sort_values(by='ts').iloc[-1])
data_last_visit=pd.DataFrame(data_last_visit)
data_last_visit.reset_index(inplace=True, drop=True)

data_first_visit=pd.DataFrame(data_first_visit)
data_first_visit.reset_index(inplace=True, drop=True)

In [124]:
len(data_last_visit.user_id.unique()) == len(data_last_visit)

True

In [126]:
data_last_visit.site_id.value_counts()

5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
EUZ/Q      1
JSUUP      1
Name: site_id, dtype: int64

For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [133]:
first_last_data=pd.merge(data_first_visit,data_last_visit, on='user_id').rename(columns={'ts_x':'ts_first',
                                                                        'site_id_x': 'site_id_first',
                                                                        'ts_y':'ts_last',
                                                                        'site_id_y': 'site_id_last'})

In [136]:
first_last_data=first_last_data[['user_id','ts_first','site_id_first','ts_last','site_id_last']]

In [139]:
len(first_last_data[first_last_data.site_id_first==first_last_data.site_id_last])

1670